/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

/* Navbar Styles */
.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #FFBC03;
  padding: 0 50px;
  z-index: 1;
}

.nav-buttons{
  display: flex;
  gap: 20px;
}

.nav-button {
  width: 100px;
  height: 35px;
  border: 3px solid #ffffff;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 550;
}

.nav-button:hover {
  background: #FFBC03;
  color: white;
  border: 3px solid #ffffff;
  font-size: 1.1em;
}

/* Hero Section Styles */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: calc(100vw - 160px); /* Adjusted width to consider both left and right margins */
  margin: 160px auto; /* Adjusted margin to center the hero section */
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners apply properly */
  background-image: url("https://plus.unsplash.com/premium_photo-1661757028319-f2ddea2dd347?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: bottom;
}

/* Not Found Page Styles */
.notFoundPage {
  padding-top: 160px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #dd9941;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  gap: 100px;
}

/* Footer Styles */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C9C9C9;
  height: 80px;
  width: 100vw;
  padding: 0 50px; /* Increased padding to match the side margins of the hero section */
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.footer-button{
  width: 100px;
  height: 35px;
  border: 3px solid #ffffff;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 550;
}

.footer-button:hover {
  background: #c9c9c9;
  color: white;
  border: 3px solid #ffffff;
  font-size: 1.1em;
}

.touSoAver {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 40vh; /* Set the height of the container to 100% of the viewport height */
}

.touSoAver form {
  display: flex;
  flex-direction: column;
}

.touSoAver label {
  margin-bottom: 8px;
}

.touSoAver input,
.touSoAver select {

  width: 100%;
}

.touSoAver button {
  width: 100%;
}


/* REGISTRATION BUTTONS */

/* USER ACCOUNT BUTTON */

.registerUser {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.registerUser::before {
  content: "Unlock pet-friendly adventures, share your experiences, and connect with a community of fellow pet lovers. Register now for exclusive access!!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,#7b4397,#dc2430 );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.registerUser::after {
  content: "Create account";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.registerUser:hover::before {
  transform: translate(0%,0%);
}

.registerUser:hover::after {
  transform: translate(0%,-200%);
}

.registerUser:focus {
  outline: none;
}

.registerUser:active {
  scale: 0.95;
}

/* BUSINESS BUTTON */

.businessUser {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.businessUser::before {
  content: "Unlock a world of opportunities, showcase your pet-friendly business, and become a part of our thriving community. Register as a business user today!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,#7b4397,#dc2430 );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.businessUser::after {
  content: "Register Business";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.businessUser:hover::before {
  transform: translate(0%,0%);
}

.businessUser:hover::after {
  transform: translate(0%,-200%);
}

.businessUser:focus {
  outline: none;
}

.businessUser:active {
  scale: 0.95;
}

.places {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 50px;
}


.hero{
  font-size:50px;
  color:white
}

